# Ignore compiled Python bytecode files
*.pyc

# Ignore Python cache directories
__pycache__/

# Ignore environment-specific settings
.env

# Ignore editor-specific files
.vscode/

# Ignore build, dist folder
data/
references/
dist/
build/
tiles_util.egg-info/